atlassian-ide-plugin.xml
target
.*
.idea
pom.xml.versionsBackup
pom.xml.releaseBackup
target
.*
*.log
*.iml
overlays
.*
*.iml
.idea
.svn
target
*/target/
foxflow-web/application.pid
foxflow-web/bower_components/*
foxflow-web/node_modules/*
/node_modules/
/foxflow-3-amazon.zip
